{% extends 'base.html' %}

{% block content %}

<section>
  <div class="container-fluid">
    <div class="container-xxl">
      <div class="row" data-masonry='{"percentPosition": true }'>
        {% for image in images %}
        <div class="item col-md-4 mb-4">
          <a href="{{image.image.url}}" class="fancybox" data-fancybox = "gallery1">
            <img src="{{image.image.url}}" alt="{{image.description}}" class="img-fluid">
          </a>
          
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}