<nav class="navbar sticky-top navbar-expand-lg navbar-light py-3">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Explore</a>
        </li>
      </ul>
      <form action="{% url 'search_results' %}" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter Category to Search" name="category">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</nav>

<a id="brand" href="{% url 'home' %}"><h1 class="text-center">Picture Perfect</h1></a>
<hr>




