{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="container-xxl">
    <div class="row">
      {% if images %}
      <h3>Found {{ images|length }} from the {{ message }} category</h3>
      {% else %}
      <h2>Found 0 images for the {{ message }} category</h2>
      {% endif %}
    </div>


    <div class="row" data-masonry='{"percentPosition": true }'>
      {% if images %}
      {% for image in images %}
      <div class="item col-md-4 mb-4">
        <a href="{{image.image.url}}" class="fancybox" data-fancybox = "gallery1">
          <img src="{{image.image.url}}" alt="{{image.description}}" class="img-fluid">
        </a>
        
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}